
<div class="profile">
    <div class="profile-avatar">
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" alt="" class="profile-img">
      <div class="profile-name">{{user ? user.name : ''}}</div>
    </div>
    <img src="https://images.unsplash.com/photo-1508247967583-7d982ea01526?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="" class="profile-cover">
    <div class="profile-menu">
      <a routerLink="timeline" routerLinkActive="active" class="profile-menu-link">Timeline</a>
      <a routerLink="about" routerLinkActive="active" class="profile-menu-link">About</a>
      <a routerLink="friends" routerLinkActive="active" class="profile-menu-link">Friends</a>
      <a routerLink="photos" routerLinkActive="active" class="profile-menu-link">Photos</a>
      <a routerLink="more" routerLinkActive="active" class="profile-menu-link">More</a>
    </div>
    
  </div>
  