<form [formGroup]="createGroupForm" (ngSubmit)="onCreateGroup()">
  <mat-form-field>
    <input matInput placeholder="Group Name" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="About Group" formControlName="about"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Group Type" formControlName="type">
      <mat-option value="public">Public</mat-option>
      <mat-option value="private">Private</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Create Group</button>
</form>