
.album-detail {
    width: calc(100% - 110px);
   }
   
   .album-title span {
    color: #1771d6;
    cursor: pointer;
   }
   
   .album-date {
    font-size: 15px;
    color: #595c6c;
    margin-top: 4px;
   }
   
   .album-content {
    padding: 0 20px 20px;
   }
   
   .album-photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    margin-top: 10px;
   }
   
   .album-photos {
    display: flex;
    margin-top: 20px;
    max-height: 30vh;
   }
   
   .album-photos > .album-photo {
    width: 50%;
   }
   
   .album-right {
    width: 50%;
    margin-left: 10px;
    line-height: 0;
    display: flex;
    flex-direction: column;
    .album-photo {
     height: calc(50% - 10px);
    }
   }
   
   .album-actions {
    padding: 0 20px 20px;
   }
   
   .album-action {
    margin-right: 20px;
    text-decoration: none;
    color: #a2a4b4;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    &:hover {
     color: #fff;
    }
    svg {
     width: 16px;
     margin-right: 6px;
    }
   }